body
{
  background-color: rgb(213, 241, 232);
}
h1 {
  color: blue;
  
}
#primer-titulo{
  text-align: center;
  font-size: 50px;
}

h2{
  font-family: 'Gentium Book Plus', serif;
  color: rgb(185, 80, 255);
  font-size: 40PX;
  }
 h3{
  font-family: 'Gentium Book Plus', serif;
font-family: 'Roboto', sans-serif;
  color:rgb(9, 21, 39)
  font-size: 60px;
 }

.fondo-color{
  color: rgba(41, 5, 26, 0.514);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align:justify;

}

 
